#container {
    display: flex;
}

.sidebar {
    width: 20%;
    background: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
    border-right: 1px solid #ccc;
}

#content {
    padding: 20px;
    width: 80%;
    overflow-y: auto;
    height: 100vh;
}

ul#chapters {
    list-style: none;
    padding: 0;
}

ul#chapters li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}

ul#chapters li a:hover {
    background-color: #ddd;
}
